button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: hsl(0, 0%, 10%);
	cursor: pointer;
	border-color: #646cff;
	transition: border-color 0.25s;
}
button.variant-secondary {
	background-color: hsl(30, 100%, 50%);
	color: hsl(0, 0%, 10%);
	&:hover {
		border: 1px solid hsla(58, 100%, 50%, 0.651);
		transition: border-color 0.25s;
	}
}
button.variant-tertiary {
	background-color: hsl(273, 100%, 26%);
	color: hsl(30, 100%, 50%);
	&:hover {
		opacity: 0.6;
		background-color: hsl(273, 100%, 50%);
	}
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
